In [2]:
import pandas as pd
import numpy as np
import os

from glob import glob

from tqdm import tqdm

In [19]:
folders = ['정상A', '정상B', '금속', '머리카락', '벌레', '상단불량D', '상단불량E', '유바', '탄화물', '플라스틱']

data_path = '/workspace/TOFU_Kaier/DB/TOFU_BOX_margin'
train_path = 'train'
valid_path = 'valid'
test_path = 'test_1345'

train_file_list = []
valid_file_list = []
test_file_list = []

train_label_list = []
valid_label_list = []
test_label_list = []

for fold in tqdm(folders):
    fpattern = os.path.join(data_path, f'{train_path}/{fold}/*.jpg')
    glob_file = sorted(glob(fpattern))
    train_file_list += glob_file
    train_label_list += [fold]*len(glob_file)
    
    fpattern = os.path.join(data_path, f'{valid_path}/{fold}/*.jpg')
    glob_file = sorted(glob(fpattern))
    valid_file_list += glob_file
    valid_label_list += [fold]*len(glob_file)
    
    fpattern = os.path.join(data_path, f'{test_path}/{fold}/*.jpg')
    glob_file = sorted(glob(fpattern))
    test_file_list += glob_file
    test_label_list += [fold]*len(glob_file)

100%|██████████| 10/10 [00:00<00:00, 79.56it/s]

In [20]:
print(len(train_file_list))
print(len(valid_file_list))
print(len(test_file_list))

16793
1862
8367

In [21]:
print(len(train_label_list))
print(len(valid_label_list))
print(len(test_label_list))

16793
1862
8367

In [16]:
valid_file_list[0]

'/workspace/TOFU_Kaier/DB/TOFU_BOX_margin/valid/정상A/2020-11-24-120900400217.jpg'

In [17]:
valid_file_list[0][47:]

'정상A/2020-11-24-120900400217.jpg'

In [66]:
train_df = pd.DataFrame({'path':train_file_list, 'label':train_label_list})
train_df['path'] = train_df['path'].apply(lambda x: x[47:])

valid_df = pd.DataFrame({'path':valid_file_list, 'label':valid_label_list})
valid_df['path'] = valid_df['path'].apply(lambda x: x[47:])

test_df = pd.DataFrame({'path':test_file_list, 'label':test_label_list})
test_df['path'] = test_df['path'].apply(lambda x: x[47:])

In [31]:
train_df

                                   path label
0       정상A/2020-11-24-120700200802.jpg   정상A
1       정상A/2020-11-24-120700230145.jpg   정상A
2       정상A/2020-11-24-120900200006.jpg   정상A
3       정상A/2020-11-24-120900210218.jpg   정상A
4       정상A/2020-11-24-120900210761.jpg   정상A
...                                 ...   ...
16788  플라스틱/2021-03-21-111900500101.jpg  플라스틱
16789  플라스틱/2021-03-21-111900530941.jpg  플라스틱
16790  플라스틱/2021-03-21-111900560053.jpg  플라스틱
16791  플라스틱/2021-03-21-112000140995.jpg  플라스틱
16792  플라스틱/2021-03-21-112000180686.jpg  플라스틱

[16793 rows x 2 columns]

In [32]:
valid_df

                                  path label
0      정상A/2020-11-24-120900400217.jpg   정상A
1      정상A/2020-11-24-121000300535.jpg   정상A
2      정상A/2020-11-24-121200390029.jpg   정상A
3      정상A/2020-11-24-121200500853.jpg   정상A
4      정상A/2020-11-24-121200520577.jpg   정상A
...                                ...   ...
1857  플라스틱/2021-03-21-111700390709.jpg  플라스틱
1858  플라스틱/2021-03-21-111700420221.jpg  플라스틱
1859  플라스틱/2021-03-21-111800410446.jpg  플라스틱
1860  플라스틱/2021-03-21-111900250078.jpg  플라스틱
1861  플라스틱/2021-03-21-111900300366.jpg  플라스틱

[1862 rows x 2 columns]

In [33]:
test_df

                                      path label
0      345/정상A/2020-11-24-133900350125.jpg   정상A
1      345/정상A/2020-11-24-133900350732.jpg   정상A
2      345/정상A/2020-11-24-133900360241.jpg   정상A
3      345/정상A/2020-11-24-133900360837.jpg   정상A
4      345/정상A/2020-11-24-133900370430.jpg   정상A
...                                    ...   ...
8362  345/플라스틱/2021-03-21-112100550614.jpg  플라스틱
8363  345/플라스틱/2021-03-21-112100580958.jpg  플라스틱
8364  345/플라스틱/2021-03-21-112200000471.jpg  플라스틱
8365  345/플라스틱/2021-03-21-112200030878.jpg  플라스틱
8366  345/플라스틱/2021-03-21-112200050766.jpg  플라스틱

[8367 rows x 2 columns]

In [67]:
# save annotaions 
train_df.to_csv("train_annotations.csv", encoding='cp949', index=False)
valid_df.to_csv("valid_annotations.csv", encoding='cp949', index=False)
test_df.to_csv("test_annotations.csv", encoding='cp949', index=False)

In [68]:
tmp = pd.read_csv("train_annotations.csv", encoding='cp949')

In [69]:
tmp

                                   path label
0       정상A/2020-11-24-120700200802.jpg   정상A
1       정상A/2020-11-24-120700230145.jpg   정상A
2       정상A/2020-11-24-120900200006.jpg   정상A
3       정상A/2020-11-24-120900210218.jpg   정상A
4       정상A/2020-11-24-120900210761.jpg   정상A
...                                 ...   ...
16788  플라스틱/2021-03-21-111900500101.jpg  플라스틱
16789  플라스틱/2021-03-21-111900530941.jpg  플라스틱
16790  플라스틱/2021-03-21-111900560053.jpg  플라스틱
16791  플라스틱/2021-03-21-112000140995.jpg  플라스틱
16792  플라스틱/2021-03-21-112000180686.jpg  플라스틱

[16793 rows x 2 columns]